.centergif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  body {
    background-color: #C2E2F1 ;
  }
  .texta
  {
      text-align: center;
  }
  .textab
  {
    justify-content: center;
    background: None;
      
  }