*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: helvetica, calibri, serif;
  color: #fff;
}
body .title {
  position: relative;
  font-size: 4rem;
  text-shadow: -2px 0 red;
  color: black;
}
body .title::after, body .title::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  left: 0;
}
body .title::before {
  top: -0.5rem;
  left: -0.5rem;
  text-shadow: -2px 0 green;
  clip-path: inset(3rem 0 6rem 0);
  animation: glitch 0.5s infinite;
}
body .title::after {
  top: 0.5rem;
  left: 0.5rem;
  text-shadow: -2px 0 blue;
  clip-path: inset(6rem 0 3rem 0);
  animation: glitch 0.8s infinite;
}

@keyframes glitch {
  from {
    clip-path: inset(2rem 0 0rem 0);
    left: -2px;
  }
  to {
    clip-path: inset(6rem 0 3rem 0);
    left: 2px;
    top: 2px;
    opacity: 0.5;
  }
}
@media screen and (min-width: 768px) {
  body .title {
    position: relative;
    font-size: 6rem;
    text-shadow: -2px 0 red;
    color: black;
  }
}

body.dark .title
{
  color:#F2E7FE;
}